.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .checkout-container h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
  }
  

  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-price {
    font-size: 1.1rem;
    color: #666;
  }

  .subtotal, .total-pagar {
    font-size: 1.2rem;
    color: #e60023;
    margin-top: 5px;
  }

  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  

  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  

  .dark-mode .checkout-container {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  .dark-mode .product-item {
    border-bottom: 1px solid #555;
  }
  
  .dark-mode .product-name,
  .dark-mode .product-price {
    color: #ffffff;
  }