.footer {
  display: flex;
  background-color: chocolate;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}


.dark-mode .footer {
  background-color: #333;
  color: #e0e0e0;
}